body {
    margin: 0;
    background-color: black;
}

@-webkit-keyframes anim {
    0% {
        -webkit-transform: translate(0px, 100px);
        
    }
    25% {
        -webkit-transform: translate(150px, 100px);3
    }
    50% {
        -webkit-transform: translate(150px, 0px) rotateY(180deg);
    
    }
    100% {
        -webkit-transform: translate(300px, 100px);
    }
}

#panda {
    position: absolute;
-webkit-animation: anim 20s infinite;
}

#stage {
    position: relative;
    margin: auto;
    -webkit-perspective: 300px center center;
}

#scene {
    position: absolute;
    width: 400px;
    height: 300px;
    -webkit-transform-style: preserve-3d;
}

#floor {
    position: absolute;
    width: 250px;
    height: 250px;
    -webkit-transform: translate(0, 0px) rotateX(90deg);
    font-size: 100px;
    text-align: center;
    line-height: 200px;
}

